*.iml
.gradle
/local.properties
/gradlew
/gradlew.bat
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/caches/build_file_checksums.ser
local.properties
/*/build
!/.idea/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
